<ion-header>
  <ion-toolbar>

<ion-buttons slot="start">
  <ion-back-button defaultHref="/"color="primary"></ion-back-button>
</ion-buttons>

  <ion-title color="primary">segment</ion-title>
  </ion-toolbar>

<ion-segment value="pasta" (ionChange)="segmentChanged($event)">

  <ion-segment-button value="todos">
    <ion-label>Todos</ion-label>
  </ion-segment-button>

    <ion-segment-button value="DC Comic">
    <ion-label>DC Comic</ion-label>
    </ion-segment-button>


 <ion-segment-button value="Marvel Comics">
    <ion-label>Marvel Comics </ion-label>
    </ion-segment-button>

 </ion-segment>

</ion-header>

<ion-content >



<ion-list *ngFor="let heroe of superHeroes | async">
  <ion-item>
    <ion-label>

<h3>(heroe.superhero) <small>(heroe.alter-ego)</small></h3>

<p>
  (heroe.first_appearance)
</p>


    </ion-label>


<ion-label slot="end"class="ion-text-right">(heroe.publisher)</ion-label>

  </ion-item>
</ion-list>

</ion-content>
