<ion-app>
  <ion-split-pane when="md" contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-menu-toggle *ngFor= "let c of componentes | async"
          auto-hide="false">
          <ion-list>
            <ion-item
                [routerLink]="c.redirectTo">
              <ion-icon color="primary" [name]="c.icon" slot="start"></ion-icon>
              {{ c.name }}
            </ion-item>

          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

  
</ion-app>
