<app-header titulo="Action Sheet"></app-header>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
       <ion-back-button
          defaultHref="\home"
          text="Regresar"
          color="primary"
          [mode]="'ios'"></ion-back-button>
    </ion-buttons>

    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-button (click)="onClick()" expand="block">
    Mostrar Action Sheet
  </ion-button>

</ion-content>
